canvas {
    border: none;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

body, aside {
    display: grid;
    grid-template-rows: auto 1fr;
}

aside {
    margin-left: 2.5rem;
    margin-top: 2.5rem;
}

main {
    display: grid;
    grid-template-columns: auto 1fr;
}

#controlsUiImage {
    width: 30rem;

    margin-left: 0rem;
    margin-top: 7rem;

    height: auto;
}